body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #121212;
    color: #fff;
}

.bomba-contenedor {
    /* Centrar todo en la pantalla */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.bomba-titulo {
    display: flex;
    align-items: center;
    width: auto;
    max-width: 1400px;
    margin-bottom: 20px;
    justify-content: center;
}

.temporizador {
    font-size: 3em;
    color: red;
    border: 4px solid red;
    padding: 10px 20px;
    min-width: 100px;
    text-align: center;
    height:  60px;
    margin-right: -2px;
    width: 100px;
}

.contador-fallos {
    color: red;
    border: 4px solid red;
    height: 60px;
    min-width: 100px;
    text-align: center;
    display: inline-block;
    padding: 10px 20px;
    font-size: 55px;
    margin-left: -2px;
}

.rejilla-juegos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 15px;
    width: 70vw;
    max-width: 1400px;
    min-height: 800px;
    padding: 15px;
    border: 5px solid #555;
    background-color: #222;
}



.ranura {
    /* Estilo de las ranuras donde irán los juegos */
    background-color: #444;
    border: 1px solid #777;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    color: white;
    padding: 30px;
    text-align: center;
}

/* Estilos para la página explotada.html */

.explosion-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
    background-color: #000;
    color: red; /* Color de peligro */
}

.explosion-container h1 {
    font-size: 4em;
    margin-bottom: 20px;
    animation: pulsar 1.5s infinite alternate; /* Animación simple */
}

.explosion-container p {
    font-size: 1.5em;
    margin-bottom: 30px;
}

.boton-reintentar {
    padding: 15px 30px;
    font-size: 1.2em;
    text-decoration: none; /* Quitamos el subrayado del enlace */
    color: white;
    background-color: darkred;
    border: 2px solid red;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.boton-reintentar:hover {
    background-color: red;
}

.desactivado {
    font-size: 2em;
    color: white;
    margin-top: 35%;
}

/* Animación de pulso para el título */
@keyframes pulsar {
    from { color: red; text-shadow: 0 0 5px darkred; }
    to { color: yellow; text-shadow: 0 0 20px red; }
}

/*  Estilos específicos de ContadorPuzzle.js */

.puzzle-title {
    font-size: 1.2em;
    text-align: center;
    margin-bottom: 25px;
    margin-top: 20px;
}

.puzzle-display {
    font-size: 2em;
    margin-bottom: 20px;
    border: 2px solid #fff;
    padding: 10px 20px;
    background-color: #333;
    color: rgb(255, 0, 0);
    margin-top: 25px;
}

.action-button, .action-button-retry {
    padding: 10px 25px;
    font-size: 1em;
    background-color: #cf0a0a;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.action-button:hover, .action-button-retry:hover {
    background-color: #005f73;
}

.action-button:disabled {
    background-color: #555;
    cursor: not-allowed;
}



/* Fin de los estilos específicos de ContadorPuzzle.js */

/* Estilos para la página victoria.html */

.victoria-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
    background-color: #000;
    color: rgb(0, 128, 11);
}

.victoria-container h1 {
    font-size: 4em;
    margin-bottom: 20px;
    animation: victoria 1.5s infinite alternate;
}

.victoria-container p {
    font-size: 1.5em;
    margin-bottom: 30px;
}

/* Animación de pulso para el título */
@keyframes victoria {
    from { color: rgb(94, 255, 94); text-shadow: 0 0 5px rgb(168, 255, 194); }
    to { color: rgb(0, 224, 11); text-shadow: 0 0 20px rgb(74, 100, 3); }
}

/* Estilos para SimonDicePuzzle.js */

.simon-boton {
    width: 120px;
    height: 120px;
    border: 2px solid #fff;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.1s;
    display: inline-block;
    grid-template-columns: repeat(2, 100px);
    grid-template-rows: repeat(2, 100px);
    gap: 15px;
    /* Organizar los 4 botones en 2 columnas */
    margin: 10px;
    opacity: 1;
}

.simon-boton:active {
    transform: scale(0.9);
    opacity: 1;
}


.simon-dice-title {
    font-size: 1.5em;
    margin-bottom: 20px;
}

.simon-dice-info {
    margin-top: 15px;
    font-size: 1.1em;
}

.comenzar-simon-boton {
    padding: 10px 20px;
    font-size: 1em;
    background-color: #cf0a0a;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 90px;
}

/* Fin de los estilos para SimonDicePuzzle.js */

/* Estilos para PalabrasPuzzle.js */

.palabras-puzzle-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}

.palabras-title {
    font-size: 1.5em;
    margin-bottom: 20px;
}

.palabras-display {
    font-size: 2em;
    margin-bottom: 20px;
    border: 2px solid #fff;
    padding: 10px 20px;
    background-color: #333;
    color: #ff5722;
}

.boton-palabra-repetida {
    padding: 10px 25px;
    font-size: 1em;
    background-color: #cf0a0a;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 150px;
}

.boton-palabra-repetida:hover {
    background-color: #005f73;
}

.boton-palabra-repetida:disabled {
    background-color: #555;
    cursor: not-allowed;
}

.boton-palabra-nueva {
    padding: 10px 25px;
    font-size: 1em;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-left: 15px;
    width: 150px;
}

.boton-palabra-nueva:hover {
    background-color: #00796b;
}

.boton-palabra-nueva:disabled {
    background-color: #555;
    cursor: not-allowed;
}

.progreso-display {
    font-size: 1.2em;
    margin-top: 10px;
    margin-bottom: 25px;
    color: #ffffff;
}

/* Fin de los estilos para PalabrasPuzzle.js */

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: #000000 #1c1c1c;
}

/* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 13px;
}

*::-webkit-scrollbar-track {
    background: #1c1c1c;
}

*::-webkit-scrollbar-thumb {
    background-color: #000000;
    border-radius: 10px;
    border: 3px solid #ffffff;
}